/*productos*/
.menu {
  .texto-productos {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2rem;
  }
  .botones-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-block;
    button {
      flex: unset;
    }
  }
}

@media (min-width: 768px) {
  .productos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .producto {
      flex: 0 0 calc(33.3% - 1rem);
      border: 1px solid #e1e1e1;
      padding: 2rem;
      border-radius: 5px;
      h2 {
        text-align: center;
      }
      p {
        font-size: 1.8rem;
      }
      .precio {
        display: flex;
        justify-content: space-between;
        p {
          font-weight: bold;
          font-size: 2rem;
        }
        button {
          padding: 1rem;
          border-radius: 5px;
          border: none;
          background-color: $azul;
          color: $blanco;
          height: 3.8rem;
        }
      }
    }
  }
}
